<app-header></app-header>
<div class="productHub">
  <div class="container">
    <!--MPPaper are selected-->
    <div class="col" *ngIf="isMPPaper">
      <div class="row " *ngFor="let product of MPPaperProduct" >
        <div class="col">
          <img [src]="product.mppath" style="width: 100%;height: 100%;"/>
        </div>
        <div class="col">
          <div class="row">
            <button type="button" class="btn btn-dark">Like</button>
          </div>
          <div class="row">
            <button type="button" class="btn btn-danger">Preview</button>
           </div>
           <div class="row">
            <button type="button" class="btn btn-secondary">Share</button>
           </div>
           <div class="row">
            <button type="button" class="btn btn-light" (click)="downloadMpImage(product.mppath,product.movie)">Download</button>
           </div>
        </div>
      </div>
    </div>
    <!--MPCinematic Shots selected-->
    <div class="col" *ngIf="isMPCinematic">
      <div class="row " *ngFor="let product of MPCinematicProduct" >
        <div class="col">
          <img [src]="product.mpcspath" style="width: 100%;height: 100%;"/>
        </div>
        <div class="col">
          <div class="row">
            <button type="button" class="btn btn-dark">Like</button>
          </div>
          <div class="row">
            <button type="button" class="btn btn-danger">Preview</button>
           </div>
           <div class="row">
            <button type="button" class="btn btn-secondary">Share</button>
           </div>
           <div class="row">
            <button type="button" class="btn btn-light" (click)=downloadMpImage(product.mpcspath,product.movie)>Download</button>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="continer">
<app-footer></app-footer>
</div>

