<app-header></app-header>
<div class="mainTheme container">
  <h1>Movie Papers</h1>
  <p>download for free</p>
</div>
<div class="searchBar">
  <app-mpsearch style="width:50%;margin:auto" [moviesList]="moviesList" (movieSearchItemfromSearchComponent)="movieSearchItem($event)"></app-mpsearch>
</div>
<div class="productContainer container" >
  <app-products #productComponent [MPMovie]="MPMovie"></app-products>
</div>
<div class="contentRequest">
  <app-request></app-request>
</div>
<div class="continer">
<app-footer></app-footer>
</div>
