.mainTheme{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color : rgba(255, 0, 0, 0.823);
  margin: 15px;
  font-family: 'Ubuntu';
}

.productContainer{
  padding: 2px 0px 2px 10px;
  margin:5% 0px 4px 10%;
}
.contentRequest{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:5% 0px 4px 10%;
}

.searchBar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:3% 0px 4px 0%;
}
